<ul>
    <li>
        <a href="electronics/headphones">headphones</a>
    </li>
    <li>
        <a href="electronics/mobiles">mobiles</a>
    </li>
    
    <li>
        <a href="fashion/clothes/casual">casual clothes</a>
    </li>
    
    <li>
        <a href="/fashion/clothes/party">party clothes</a>
    </li>
    
    <li>
        <a href="/fashion/shoes/casual">casual shoes</a>
    </li>
    
    <li>
        <a href="/fashion/shoes/party">party shoes</a>
    </li>
    
    
</ul>