<ul>
    <li>
        <a href="electronics/headphones">headphones</a>
    </li>
    <li>
        <a href="electronics/mobiles">mobiles</a>
    </li>
    
    <li>
        <a href="fashion/clothes/clothes/clothes">Clothes</a>
    </li>
    
    <li>
        <a href="/fashion/footware/shoes/shoes/shoes">Shoes</a>
    </li>
    
    
</ul>